#fos_user_background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#user_profile {
  padding: 1rem 0 0 0;

  .user_info {
    display: inline-block;
    vertical-align: top;
    padding-left: 1em;

    h3, p {
      margin: 0;
    }

    h3 {
      font-size: 1.9em;
    }

    p {
      font-size: 1.3em;
      color: #4a4a4a;
    }
  }

  .user_tracking {
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.6);
    color: #ececec;
  }
}

.profile_menu {
  text-align: center;
  text-transform: uppercase;

  li.active {
    border-bottom: 1px solid $secondary-color;
  }
  a {
    color: $secondary-color;
  }
}

/** USER PROFIL **/
.tabs .tab a:hover, .tabs .tab a.active {
  color: $secondary-color;
  font-weight:bold;
}
.profil_titles {
  i {
    font-size: 2.2em;
  }
  h3 {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    line-height: 2em;
    margin: 0;
  }
}
.profil_movie_vignette {
  .favorite_action_container {
    background-color: $primary-color;
    color: #ffffff;

    i:hover {
      cursor: pointer;
    }
  }

  .favorite_description_container {
    text-align: center;

    p:last-child {
      font-weight: bold;
    }
  }
}
.comments_rate_stats_container {
  margin-top: 2em;
  h4 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  p {
    font-size: 2.4em;
    color: $secondary-color;
    margin: 0;
  }
}
.watched_movies_container, .wished_movies_container {
  display: none;
}
.display_favorite_movies, .display_watched_movies, .display_wished_movies {
  background-color: #909090;

  &:hover {
    background-color: lighten(#909090, 10%);
  }

  &.active {
    background-color: $secondary-color;

    &:hover {
      background-color: lighten($secondary-color, 10%);
    }
  }
}

/** SELECT MOVIES **/
.registration_select_movies {
  .description {
    h3 {
      font-size: 2.2em;
      font-weight:bold;
    }
    p:nth-child(2) {
      font-size: 1.2em;
    }
    p:nth-child(3) {
      color: $primary-color;
    }
  }
  .movies_gallery, .movies_genres_gallery {
    position: relative;
    
    &:hover {
      cursor: pointer;
    }

    .material-icons {
      display: none;
      z-index: 100;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }
    img {
      width: 100%;
    }

    &.active {
      .material-icons {
        display: inline-block;
      }
      img {
        filter: opacity(35%);
      }
    }
  }

  .movies_genres_gallery {
    .material-icons {
      color: #FFFFFF;
      top: 0.2em;
      right: 0.2em;
    }

    p {
      margin: 0;
      padding: 0.5em 0;
      text-align: center;
      color: #FFFFFF;
      background-color: #5a5a5a;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      border-radius: 0.5em;
    }
  }
}