{% extends "front/base.html.twig" %}

{% block body %}
    <div class="container mt-4 registration_select_movies">
        <div class="row">
            <div class="col s4 description">
                <h3>Bonjour {{ app.user.username }}</h3>
                <p>Sélectionnez 3 titres que vous souhaitez voir ou avez aimés</p>
                <p>Cela nous aidera à trouver des films et séries TV que vous allez adorer !</p>
                <div class="btn">Continuer</div>
            </div>

            <div class="col s8 movies_gallery">
                {% for movie in movies %}
                    <img src="{{ movie.poster }}" alt="Poster {{ movie.title }}" class="col l3 pl-0 pb-2">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}