{% extends 'front/base.html.twig' %}

{% block meta_title %}Mentions légales - {% endblock %}

{% block body %}

    <div class="container legalsMentions_page">

        <h5>Mentions légales</h5>
        <p>Merci de lire avec attentions les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités. Aussi, conformément de l’Article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet sont :</p>

        <p style="color: #b51a00;"><span style="color: #000000;"><b>Editeur du Site : </b></span></p>
        <p>Vincent et Myriam<br>
            Adresse mail de Vincent : vincent@gmail.com<br>
            Adresse mail de Myriam : haasmyriam8@gmail.com

        <p style="color: #b51a00;"><b><span style="color: #000000;">Hébergement :</span> </b></p>
        <p>Hébergeur : OVH<br>
            140 Quai du Sartel, 59100 Roubaix<br>
            Site Web : <a href="http://www.ovh.fr">www.ovh.fr</a></p>

        <p style="color: #b51a00;"><span style="color: #000000;"><b>Déclaration à la CNIL : </b></span></p>
        <p>Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel) relative à l’informatique, aux fichiers et aux libertés, ce site n’a pas fait l’objet d’une déclaration auprès de la Commission nationale de l’informatique et des libertés (<a href="http://www.cnil.fr/">www.cnil.fr</a>).</p>

        <p style="color: #b51a00;"><span style="color: #000000;"><b>Litiges : </b></span></p>
        <p>Les présentes conditions du site sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
    </div>

{% endblock %}