{% extends 'front/base.html.twig' %}

{% block body %}

    <div id="presentation_container_homePage">
        <div class="presentation_description">
            <h1>Random Movie</h1>
            <p>A cours d'idée pour vos soirées ?</p>
            <p>Nous nous occupons de tout !</p>
            <a href="{{ path('fos_user_registration_register') }}" class="btn">Rejoins la communauté</a>
        </div>
        <img src="{{ asset('images/dark_vador_homepage.jpg') }}" alt="">
    </div>

    <div id="find_idea_homePage">
        <h2>Trouvez facilement des idées</h2>
        <p>Nous vous recommandons personnellement des films, en plus de voir ce que vos amis regarde en ce moment !</p>

        <div class="images">
            {% for movie in movies %}
                <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }}">
            {% endfor %}
        </div>
    </div>

{% endblock %}
