/** CGU **/
.cgu_page, .legalsMentions_page {
  h5 {
    font-size: 1.5em;
    text-align: center;
    margin: 2em 0;
  }

  h6 {
    margin: 1.5em 0;
    font-size: 1.2em;
    font-weight: bold;
  }
}